{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% load static %}

{% block extra_script %}
    <script src="{% static 'htmx/htmx-1.7.0.min.js' %}"></script>

    <style>
        #add-bier-button .card {
            background-color: #bfbfbf;
            transition: 0.4s;
        }

        #add-bier-button .card:hover {
            background-color: #696969;

        }

        #add-bier-button .card .card-body {
            color: #545454;
            transition: 0.3s;
        }

        #add-bier-button .card .card-body:hover {
            color: white;
        }
    </style>

{% endblock %}

{% block title %} My24Späti - {{ bier_company.name }} {% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="d-flex flex-row-reverse my-2">
            <a href="{% url 'bier-company-list' %}" class="btn btn-danger mx-3">↵ Back</a>
        </div>

        <h1 class="mb-5">{{ bier_company.name }}</h1>

        <div class="container">
            <div class="card-deck">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        {% for bier in biers %}
                            {% include "bier_shop/components/bier_card.html" with bier=bier %}
                        {% endfor %}

                        {% include 'bier_shop/components/add_bier_button.html' with bier_company_id=bier_company.id %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}