{% extends 'base.html' %}

{% load static %}

{% block extra_script %}
    <script src="{% static 'htmx/htmx-1.7.0.min.js' %}"></script>
{% endblock %}

{% block title %} My24Späti - Bier Companies {% endblock %}

{% block content %}
    <div class="bg-black text-white px-3 py-4 mb-5 text-center display-4">
        My24Späti
    </div>
    <div class="container">
        <div class="card-deck">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-4">
                {% for bier_company in biercompany_list %}
                    <div class="col">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ bier_company.logo }}" alt="Logo">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title mb-auto">{{ bier_company.name }}</h5>
                                <p class="card-text">{{ bier_company.country.name }}</p>
                                <a href="" class="btn btn-primary w-100">See my beers!</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col">
                        <div class="card h-100">
                            <div class="card-body d-flex flex-column">
                                +
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}